{% extends "base.html" %} {% block content %}
<div class="p-8">
  <div class="max-w-3xl mx-auto p-8 rounded shadow-lg">
    <h1 class="text-2xl font-bold mb-2 text-center">
      YSTV - York's Got Talent
    </h1>
    <p class="mb-2">Manual control interface for the buzzers.</p>
    <div class="grid grid-cols-2 gap-4 mb-2 justify-items-center" hx-get="/buzzers" hx-trigger="load, every 1s">
    </div>
    <hr class="mb-4" />
    <button class="bg-yellow-300 font-bold rounded px-4 py-2" hx-get="/reset" hx-swap="none" hx-confirm="Are you sure you want to reset all the buzzers?">Reset<button>
  </div>
</div>

{% endblock content %}
